@import '_variable';
@import '_mixins';
img {
    max-inline-size: 100%;
    block-size: auto;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #05030E;
}
.container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {

    
    // .header__menu

    &__menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;
    }
    &__logo::after{
        content: '';
        position: absolute;
        max-width: 848px;
        height: 848px;
        background: #0F3123;
        filter: blur(215px);
        z-index: -1;
        left: -300px;
    }

    // .header__logo-name

    &__logo-name {
        color: #fff;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }

    // .header__wrapper

    &__wrapper {
        display: flex;
        align-items: center;
    }

    // .header__lists

    &__lists {
        display: flex;
        align-items: center;
        gap: 52px;
        @media (max-width: 1270px){
            display: none;
        }
    }

    // .header__list

    &__list {
        color: #fff;
    }

    // .header__list-link

    &__list-link {
        color: #fff;
        transition: 1s ease;
        @include content__text;
        &:hover {
            background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    // .header__register

    &__register {
        display: flex;
        gap: 13px;
        align-items: center;
    }

    // .header__social-media

    &__social-media {
        display: flex;

    }
}

.logo {
}
button {
    border-radius:8px;
}
.button {
    background-color: transparent;
    border-radius: 8px;
    outline: none;
    border: none;
}
.button a {
    display: inline-block;
    padding: 10px 30px;
    width: 100%;
    border-radius: 8px;
    border: 3px solid;
    color: #fff;
    @include content__smallText;
    border-image:linear-gradient(180deg, #E2F685 0%, #8AF9AD 100%)  1;
}
.button a:hover {
    color: #000;
    background: linear-gradient(180deg, #E2F685 0%, #8AF9AD 100%);
}
.button-register a:hover {
    background-color: transparent;
}

// Hero section

.hero {

    // .hero__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    // .hero__left

    &__left {
        margin-top: 200px;
    }

    // .hero__section-title

    &__section-title {
        @include main__title;
        @media (max-width: 570px){
             @include content__title;
        }
        color: #B4F299;
        max-width: 550px;
    }

    // .header__section-subtitle
    &__section-subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #8FA2A6;
        margin-top: 25px;
    }

    // .hero__right

    &__right {
        position: absolute;
        z-index: -10;
        right: 0;
        top: 10vh;
    }
}
.container {
}
.header {



}
.button {
}
.open-account {
    margin-top: 36px;
}

.arrow {
    height: 12px;
    width: 1px;
    background-color: #616870;
    margin-top: 11px;
}

.arrow__wrapper {
    border: 1px solid #616870;
    border-radius: 8px;
    width: 26px;
    height: 46px;
}
.arrow__box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 240px;
    @media (max-width: 700px){
        margin-top: 100px;
    }
}

.features {

    // .features__section

    &__section {
        margin-top: 160px;
        @media (max-width: 1270px){
            margin-top: 100px;
        }
    }

    // .features__wrapper

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        @media (max-width: 1270px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 700px){
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // .features__content

    &__content {
        padding: 60px 70px;
        display: flex;
        flex-direction: column;
        color:#fff;
        border: 1px solid;
        transition: .6s ease;
        border-image: linear-gradient(139.69deg, #05030E 3.61%, #7EE8A0 114.72%) 1;

        &:hover {
            background: rgba(5, 4, 14, 0.4);
            box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
            border-radius: 20px;
            transform: scale(1.01);
            border: 1px solid;
            border-image: linear-gradient(139.69deg, #E3F784 3.61%, #7EE8A0 114.72%) 1;
            .features__content-logo img{
                background: linear-gradient(139.33deg, #BBC423 -14.59%, #E99A3D 99.86%);
                box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
                border-radius: 10px;
                fill: #fff;
                stroke: #000;
            }
        }
    }

    // .features__content-logo

    &__content-logo {
        display: flex;
        align-items: center;
        gap: 19px;
        @include content__text;

        & img {
            fill: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
        }
    }

    // .features__content-text

    &__content-text {
        @include content__smallText;
        margin-top: 52px;
    }

    &__content-img {
        padding: 10px;
        border: 1px solid #37583C;
        border-radius: 10px;
    }
    &__content-title {
    }
}



.information {

    // .information__section

    &__section {
        margin-top: 189px;
    }

    // .information__wrapper

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 80px;
        @media (max-width: 1100px){
            gap: 30px;
            flex-direction: column;
        }
        @media (max-width: 700px){
            gap: 20px;
        }
    }

    // .information__left

    &__left {
    }
    &__left img{
        z-index: -1;
    }

    // .information__right

    &__right {
    }

    // .information__right-title

    &__right-title {
        @include content__title;
        color: #fff;
    }

    // .information__right-subtitle

    &__right-subtitle {
        margin-top: 54px;
        @include content__text;
        color: #8FA2A6;
    }
}



.application {

    // .application__section

    &__section {
        @media (max-width: 570px){
            background-image: url('/image/system.sv');
        }
        background-image: url('/image/system.svg');
        z-index: 1000;
        background-position:center;
        background-repeat: no-repeat;
        padding-top: 290px;
        padding-bottom: 290px;
    }

    // .application__wrapper

    &__wrapper {
        display: flex;
    }

    // .application__left

    &__left {
        @media (max-width: 570px){
            padding: 56px 60px;
        }
        padding: 116px 130px;
        border: 1px solid;
        z-index: -1;
        border-image: linear-gradient(327.01deg, #05030E 69.78%, #7EE8A0 133.71%) 1;

    }

    // .application__left-title

    &__left-title {
        background: linear-gradient(139.33deg, #CAEE39 -14.59%, #E99A3D 99.86%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        @include content__title;
    }

    // .application__left-menu

    &__left-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;
    }

    // .application__left-list

    &__left-list {
        position: relative;
        @include content__text;
        color: #fff;

        &::before{
            content: '';
            position: absolute;
            width: 19px;
            height: 8px;
            background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
            border-radius: 8px;
            left: -46px;
            top: 10px;
        }
    }

    // .application__right

    &__right {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .application__right-letter

    &__right-letter {
        background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 800;
        font-size: 78px;
        line-height: 59px;
    }
}


.token {

    // .token__section

    &__section {
    }

    // .token__wrapper

    &__wrapper {
        display: block;
    }

    // .token__header

    &__header {
        display: flex;
        gap: 57px;
        flex-wrap: wrap;
        align-items: center
    }

    // .token__header-title

    &__header-title {
        @include content__numbers;
        color: #B4F299;
    }

    // .token__header-text

    &__header-text {
        @include content__title;
        color: rgba(180, 242, 153, 0.5);
    }

    // .token__wrapper-subtitle

    &__wrapper-subtitle {
        margin-top: 60px;
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 48px;
        :nth-child(1) {
            color:#D8A834 ;
            position: relative;
        }
        :nth-child(1)::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: linear-gradient(139.33deg, #BBC423 -14.59%, #E99A3D 99.86%);
            box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);
            border-radius: 10px;
            left: -20px;
            top: 18px;
        }
        :nth-child(2) {
            position: relative;
            color:#7EE8A0 ;
        }
        :nth-child(2)::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
            border-radius: 8px;
            left: -20px;
            top: 18px;
        }
    }

    // .token__menu

    &__menu {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(5, 1fr);
        gap: 58px;
        @media (max-width: 1000px){
            grid-template-columns: repeat(3, 1fr);
            gap: 38px;
        }
        @media (max-width: 600px){
            grid-template-columns: repeat(2, 1fr);
            gap: 18px;
        }
    }

    // .token__menu-list

    &__menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }

    &__menu-list p {
        position: relative;
        @include content__smallText;
        color: #fff;

        &::before {
            content: '';
            position: absolute;
            background: rgba(162, 220, 137, 0.4);
            filter: blur(40px);
            bottom: 20px;
            width: 160px;
            right: -30px;
            height: 80px;
        }

    }

    // .token__text

    &__text {
        margin-top: 90px;
        @include content__text;
        color: #8FA2A6;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}


.task {

    // .task__section

    &__section {
        margin-top: 140px;
    }

    // .task__wrapper

    &__wrapper {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        @media (max-width: 1260px){
            flex-direction: column;
        }
    }

    // .task__left

    &__left {
        border-radius: 20px;
        padding: 0 70px 70px;
        border: 1px solid #7EE8A0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // .task__left-title

    &__left-title {
        @include content__text;
        color: #B4F299;
        text-align: center;
    }

    // .task__left-subtitle

    &__left-subtitle {
        background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @include content__numbers;
        text-align: center;
        margin-top: 8px;
    }

    // .task__right

    &__right {
        display: block;
    }

    // .task__right-title

    &__right-title {
        margin-top: 60px;
        text-align: left;
        @include content__title;
        color: #fff;
    }

    // .task__right-menu

    &__right-menu {
        margin-top: 58px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    // .task__right-list

    &__right-list {
        position: relative;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        &__name {
            color: #8FA2A6;
            @include content__text;

            &::after {
                content: '';
                position: absolute;
                background: linear-gradient(105.56deg, rgba(226, 246, 133, 0.6) 18.43%, rgba(138, 249, 173, 0.6) 89.58%);
                border-radius: 17px;
                width: 36px;
                top: 12px;
                left: -80px;
                height: 1px;
            }
        }

        &__value {
            color: #fff;
            @include content__text;
        }
    }
}


.sale {

		// .sale__section

		&__section {
            margin-top: 166px;
		}

		// .sale__wrapper

		&__wrapper {
		}

		// .sale__wrapper-title

		&__wrapper-title {
		}

		// .sale__content

		&__content {
            display: flex;
            gap: 24px;
            justify-content: space-between;
            @media (max-width: 1270px){
                flex-direction: column;
            }
		}

		// .sale__content-left

		&__content-left {
		}

		// .sale__content-wrapper

		&__content-wrapper {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 24px;
            grid-row-gap: 24px;

            @media (max-width: 1450px){
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
             @media (max-width: 1270px){
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
            }
            @media (max-width: 1270px){
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
            }
            @media (max-width: 486px){
                color: #E3F784;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(1, 1fr);
                overflow-x: scroll;
                overflow-y: hidden;
                padding-bottom: 50px;
                ::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 5px grey; 
                    border-radius: 10px;
                }
                ::-webkit-scrollbar {
                    width: 10px;
                }
                                        
                 /* Handle */
                ::-webkit-scrollbar-thumb {
                    background: #E3F784; 
                    border-radius: 10px;
                }
               /* Handle on hover */
                ::-webkit-scrollbar-thumb:hover {
                    background: #b30000; 
                }
            }
		}

		// .sale__content-box

		&__content-box {
            border: 1px solid;
            border-image: linear-gradient(139.69deg, #05030E 3.61%, #7EE8A0 114.72%) 11;


            &:hover {
                background: rgba(5, 4, 14, 0.4);
                box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
                border-image: linear-gradient(139.69deg, #E3F784 3.61%, #7EE8A0 114.72%) 1;
            }
		}

		// .sale__content-right

		&__content-right {
            display: grid;
            gap: 22px;
            background: rgba(5, 4, 14, 0.4);
            box-shadow: 0px 34px 74px rgba(162, 220, 137, 0.2);
           
		}

		// .sale__condition

		&__condition {
            position: relative;
            padding: 52px 42px;
            border-radius: 20px;
            border: 1px solid;
            border-image: linear-gradient(139.69deg, #05030E 3.61%, #7EE8A0 114.72%) 1;
		}

		// .sale__condition-header

		&__condition-header {
            display: flex;
            justify-content: space-between;

            img {
                position: absolute;
                right: -50px;
                top:-40px;
            }
		}

		// .sale__condition-title

		&__condition-title {
            @include content__text;
            color: #E3F784;
		}

		// .sale__condition-content

		&__condition-content {

		}
}
.container {
}
.box {

		// .box__title

		&__title {
            padding: 25px 42px;
            color: white;
            white-space: nowrap;
            @include content__text;
		}

		// .box__subtitle

		&__subtitle {
            padding: 35px 33px;
            text-align: center;
            background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
		}

		// .box__subtitle-title

		&__subtitle-title {
            @include content__numbers;
            border-image: linear-gradient(139.69deg, #05030E 3.61%, #7EE8A0 114.72%) 1;
		}

		// .box__subtitle-text

		&__subtitle-text {
            @include content__text;
		}
}
.content {

		// .content__title

		&__title {
            margin-top: 38px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 23px;
            color: #A2DC89;
		}

		// .content__subtitle

		&__subtitle {
            margin-top: 38px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 23px;
            color: #fff;
		}
}
.participate {
}






.partnership {

		/* .partnership__section */

		&__section {
		}

		/* .partnership__wrapper */

		&__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
                @media (max-width: 1270px){
                    flex-direction: column;
            }
		}

		/* .partnership__left */

		&__left {
		}

		/* .partnership__right */

		&__right {
            flex-grow: 1;
		}

		/* .partnership__right-title */

		&__right-title {
            @include content__title;
            color: white;           
		}

		/* .partnership__right-wrapper */

		&__right-wrapper {
		}

		/* .partnership__right-list */

		&__right-list {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            flex-grow: 1;
		}
}
.parnership {

		/* .parnership__right-menu */

		&__right-menu {
		}
}
.list {

		/* .list__title */

		&__title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
        }

		/* .list__title-level */

		&__title-level {
            @include content__smallText;
            color: #fff;
		}

		/* .list__title-line */

		&__title-line {
            width: 36px;
            height: 1px;
            background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
		}

		/* .list__title-text */

		&__title-text {
            @include content__smallText;
            background:linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
		}

		/* .list__range */

		&__range {
            position: relative;
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: center;
		}

		/* .list__range-line */

		&__range-line {
            position: relative;
            width: 418px;
            @media (max-width: 570px){
                width: 250px;
            }
            height: 8px;
            background: #7a7a7a;
            border-radius: 25px;
            &::after {
            content: '';
            position: absolute;
            width: 418px;
            @media (max-width: 570px){
                width: 250px;
            }
            height: 8px;
            border-radius: 25px;
            background: linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);  
            }
		}

		/* .list__range-text */

		&__range-text {
            @include content__title;
            background:linear-gradient(105.56deg, #E2F685 18.43%, #8AF9AD 89.58%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
		}
}
